$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FD002C;
$secondary_paletteKeyColor: #9D6B58;
$tertiary_paletteKeyColor: #A26A3D;
$neutral_paletteKeyColor: #887270;
$neutral_variant_paletteKeyColor: #8C716F;
$background: #FFF8F7;
$onBackground: #271817;
$surface: #FFF8F7;
$surfaceDim: #F0D4D1;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0EF;
$surfaceContainer: #FFE9E7;
$surfaceContainerHigh: #FEE2DF;
$surfaceContainerHighest: #F9DCDA;
$onSurface: #271817;
$surfaceVariant: #FCDBD8;
$onSurfaceVariant: #58413F;
$inverseSurface: #3D2C2B;
$inverseOnSurface: #FFEDEB;
$outline: #896E6C;
$outlineVariant: #DFBFBC;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C0001E;
$primary: #C0001E;
$onPrimary: #FFFFFF;
$primaryContainer: #FFDAD7;
$onPrimaryContainer: #930015;
$inversePrimary: #FFB3AE;
$secondary: #815341;
$onSecondary: #FFFFFF;
$secondaryContainer: #FEC1AA;
$onSecondaryContainer: #663C2B;
$tertiary: #9F683B;
$onTertiary: #FFFFFF;
$tertiaryContainer: #9F683B;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #FFDAD7;
$primaryFixedDim: #FFB3AE;
$onPrimaryFixed: #410004;
$onPrimaryFixedVariant: #930015;
$secondaryFixed: #FFDBCE;
$secondaryFixedDim: #F5B9A2;
$onSecondaryFixed: #321205;
$onSecondaryFixedVariant: #663C2B;
$tertiaryFixed: #FFDCC4;
$tertiaryFixedDim: #FCB884;
$onTertiaryFixed: #2F1500;
$onTertiaryFixedVariant: #693B12;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
