$darkmode: False;
$transparent: False;
$background: #E9F9FF;
$onBackground: #00343E;
$surface: #E9F9FF;
$surfaceDim: #8CE1F7;
$surfaceBright: #E9F9FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #D8F6FF;
$surfaceContainer: #BFF0FF;
$surfaceContainerHigh: #ACEDFF;
$surfaceContainerHighest: #9BE8FE;
$onSurface: #00343E;
$surfaceVariant: #9BE8FE;
$onSurfaceVariant: #2C6370;
$outline: #497E8C;
$outlineVariant: #80B5C4;
$inverseSurface: #001115;
$inverseOnSurface: #70A5B4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00666F;
$primary: #00666F;
$primaryDim: #005861;
$onPrimary: #D3FAFF;
$primaryContainer: #00EAFE;
$onPrimaryContainer: #005159;
$inversePrimary: #00EAFE;
$primaryFixed: #00EAFE;
$primaryFixedDim: #00DBED;
$onPrimaryFixed: #003D42;
$onPrimaryFixedVariant: #005C64;
$secondary: #006576;
$secondaryDim: #005867;
$onSecondary: #DEF7FF;
$secondaryContainer: #67E1FF;
$onSecondaryContainer: #004F5D;
$secondaryFixed: #67E1FF;
$secondaryFixedDim: #00D6F9;
$onSecondaryFixed: #003A45;
$onSecondaryFixedVariant: #005969;
$tertiary: #005DA5;
$tertiaryDim: #005191;
$onTertiary: #EEF3FF;
$tertiaryContainer: #78B3FF;
$onTertiaryContainer: #00315C;
$tertiaryFixed: #78B3FF;
$tertiaryFixedDim: #59A6FF;
$onTertiaryFixed: #001832;
$onTertiaryFixedVariant: #003A6B;
$error: #B31B25;
$errorDim: #9F0519;
$onError: #FFEFEE;
$errorContainer: #FB5151;
$onErrorContainer: #570008;
$primaryPaletteKeyColor: #00EAFE;
$secondaryPaletteKeyColor: #00D9FD;
$tertiaryPaletteKeyColor: #1879D0;
$neutralPaletteKeyColor: #4A7F8D;
$neutralVariantPaletteKeyColor: #2C8194;
$errorPaletteKeyColor: #DB3A3D;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
