$darkmode: False;
$transparent: False;
$background: #FFF4F4;
$onBackground: #4D2126;
$surface: #FFF4F4;
$surfaceDim: #FFC6CA;
$surfaceBright: #FFF4F4;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFECED;
$surfaceContainer: #FFE1E2;
$surfaceContainerHigh: #FFDADB;
$surfaceContainerHighest: #FFD2D5;
$onSurface: #4D2126;
$surfaceVariant: #FFD2D5;
$onSurfaceVariant: #824C52;
$outline: #A1676C;
$outlineVariant: #DE9CA1;
$inverseSurface: #240307;
$inverseOnSurface: #CC8C91;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #AE271C;
$primary: #AE271C;
$primaryDim: #9D1A12;
$onPrimary: #FFEFED;
$primaryContainer: #FF7765;
$onPrimaryContainer: #4F0001;
$inversePrimary: #FF614F;
$primaryFixed: #FF7765;
$primaryFixedDim: #FB5F4D;
$onPrimaryFixed: #000000;
$onPrimaryFixedVariant: #610001;
$secondary: #A03647;
$secondaryDim: #902A3C;
$onSecondary: #FFEFEF;
$secondaryContainer: #FFC2C7;
$onSecondaryContainer: #852234;
$secondaryFixed: #FFC2C7;
$secondaryFixedDim: #FFAEB5;
$onSecondaryFixed: #6A0C23;
$onSecondaryFixedVariant: #912B3D;
$tertiary: #7A41A3;
$tertiaryDim: #6D3496;
$onTertiary: #FCEEFF;
$tertiaryContainer: #D597FF;
$onTertiaryContainer: #4C0A74;
$tertiaryFixed: #D597FF;
$tertiaryFixedDim: #C78AF2;
$onTertiaryFixed: #290044;
$onTertiaryFixedVariant: #55197E;
$error: #B41340;
$errorDim: #A20036;
$onError: #FFEFEF;
$errorContainer: #F74B6D;
$onErrorContainer: #510017;
$primaryPaletteKeyColor: #D54334;
$secondaryPaletteKeyColor: #C35161;
$tertiaryPaletteKeyColor: #985DC1;
$neutralPaletteKeyColor: #A2676C;
$neutralVariantPaletteKeyColor: #AC6169;
$errorPaletteKeyColor: #DB365A;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
