* {
    background:     #FFFFFF;
    background-alt: #EEFCFE;
    foreground:     #111D20;
    selected:       #006874;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #006874;
}
