* {
    background:     #FFFFFF;
    background-alt: #FFF8F7;
    foreground:     #26181B;
    selected:       #BB0056;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #BB0056;
}
