* {
    background:     #FFFFFF;
    background-alt: #FFF8F7;
    foreground:     #271817;
    selected:       #C0001E;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #C0001E;
}
